<article class="dashboard">
	<header class="article-header article-header-color-07">
		<div class="center center-width-5">
			<div class="article-header-content">
				<h2 class="article-header-title">{{ course.name }}</h2>
			</div>
		</div>
	</header>
	<div class="article-content center center-width-5">
		<div class="clearfix">
			<div class="share">
				<span class="share-text">Compartilhe em suas redes</span>

				<div class="social-media">
					<span class="social-media-counter">000</span>
					<a href="https://www.facebook.com/sharer/sharer.php?u=http://atendimento-novo.homolog.iea.com.br/cursos/administracao-de-pequenos-negocios-a-arte-de-gerenciar-com-facilidade-2/"
							class="social-media-link facebook" title="Facebook">
						<svg width="17" height="17" class="social-media-link-image">
							<use xmlns:xlink="http://www.w3.org/1999/xlink"
									xlink:href="assets/images/ico/symbol-defs.svg#icon-facebook"></use>
						</svg>
					</a>
				</div>
				<div class="social-media">
					<span class="social-media-counter">000</span>
					<a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=http://atendimento-novo.homolog.iea.com.br/cursos/administracao-de-pequenos-negocios-a-arte-de-gerenciar-com-facilidade-2/"
							class="social-media-link linkedin" title="Linkedin">
						<svg width="17" height="17" class="social-media-link-image">
							<use xmlns:xlink="http://www.w3.org/1999/xlink"
									xlink:href="assets/images/ico/symbol-defs.svg#icon-linkedin"></use>
						</svg>
					</a>
				</div>

				<div class="social-media">
					<!-- <span class="social-media-counter">000</span> -->
					<a href="https://twitter.com/home?status=http://atendimento-novo.homolog.iea.com.br/cursos/administracao-de-pequenos-negocios-a-arte-de-gerenciar-com-facilidade-2/"
							class="social-media-link twitter" title="Twitter">
						<svg width="17" height="17" class="social-media-link-image">
							<use xmlns:xlink="http://www.w3.org/1999/xlink"
									xlink:href="assets/images/ico/symbol-defs.svg#icon-twitter"></use>
						</svg>
					</a>
				</div>
			</div>
			<div class="clearfix">
				<nav class="back" ng-if="$session.get() != undefined">
					<a link-to="school.dashboard.enrollments" class="back-link">&lt; Visualizar cursos</a>
				</nav>
			</div>

			<div class="article-content-text">
				<div class="article-content-left">
					<div class="content-tree">
						<content-tree type="dashboard" ng-model="course" enrollment="enrollment" lessons-info="lessons_info"></content-tree>
					</div>

					<h3 class="panel-title">Progresso</h3>
					<div class="label-progress">
						<p>
							<stacked-progress enrollment-id="{{ enrollment.id }}" success="{{ lessons_info.completed.length }}" warning="{{ lessons_info.in_progress.length }}" total="{{ lessons_info.total }}"></stacked-progress>
						</p>
					</div>
				</div>

				<div class="article-content-right">
					<spinner name="course"></spinner>
				</div>
			</div>
		</div>
	</div>
</article>