<article class="dashboard">
	<header class="article-header article-header-color-07">
		<div class="center center-width-5">
			<div class="article-header-content">
				<h2 class="article-header-title">{{ course.name }}</h2>
			</div>
		</div>
	</header>
	<div class="article-content center center-width-5">
		<div class="clearfix">
			<div class="share">
				<span class="share-text">Compartilhe em suas redes</span>

				<div class="social-media">
					<span class="social-media-counter">000</span>
					<a href="https://www.facebook.com/sharer/sharer.php?u=http://atendimento-novo.homolog.iea.com.br/cursos/administracao-de-pequenos-negocios-a-arte-de-gerenciar-com-facilidade-2/"
							class="social-media-link facebook" title="Facebook">
						<svg width="17" height="17" class="social-media-link-image">
							<use xmlns:xlink="http://www.w3.org/1999/xlink"
									xlink:href="https://cdn.edools.com/sebrae-sc/imgs/symbol-defs.svg#icon-facebook"></use>
						</svg>
					</a>
				</div>
				<div class="social-media">
					<span class="social-media-counter">000</span>
					<a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=http://atendimento-novo.homolog.iea.com.br/cursos/administracao-de-pequenos-negocios-a-arte-de-gerenciar-com-facilidade-2/"
							class="social-media-link linkedin" title="Linkedin">
						<svg width="17" height="17" class="social-media-link-image">
							<use xmlns:xlink="http://www.w3.org/1999/xlink"
									xlink:href="https://cdn.edools.com/sebrae-sc/imgs/symbol-defs.svg#icon-linkedin"></use>
						</svg>
					</a>
				</div>

				<div class="social-media">
					<!-- <span class="social-media-counter">000</span> -->
					<a href="https://twitter.com/home?status=http://atendimento-novo.homolog.iea.com.br/cursos/administracao-de-pequenos-negocios-a-arte-de-gerenciar-com-facilidade-2/"
							class="social-media-link twitter" title="Twitter">
						<svg width="17" height="17" class="social-media-link-image">
							<use xmlns:xlink="http://www.w3.org/1999/xlink"
									xlink:href="https://cdn.edools.com/sebrae-sc/imgs/symbol-defs.svg#icon-twitter"></use>
						</svg>
					</a>
				</div>
			</div>
			<div class="clearfix">
				<nav class="back" ng-if="$session.get() != undefined">
					<a link-to="school.dashboard.enrollments" class="back-link">&lt; Visualizar cursos</a>
				</nav>
			</div>

			<div class="article-content-text">
				<div class="article-content-left">
					<div class="content-tree">
						<content-tree type="dashboard" ng-model="course" enrollment="enrollment" lessons-info="lessons_info"></content-tree>
					</div>

					<div class="progress-content">
						<h3 class="panel-title">Progresso</h3>
						<div class="label-progress">
							<p>
								<stacked-progress enrollment-id="{{ enrollment.id }}" success="{{ lessons_info.completed.length }}" warning="{{ lessons_info.in_progress.length }}" total="{{ lessons_info.total }}"></stacked-progress>
							</p>
						</div>
					</div>


					<div class="extra-content" ng-if="extraContents.length > 0">
						<h3 class="panel-title">Material extra</h3>
						<spinner name="extraContents" class="small"></spinner>
						<ul class="modules">
							<li class="module-item root" ng-repeat="extraContent in extraContents">
								<div class="class">
									<div class="class-info" ng-class="{'active': $state.params.extraContentId == extraContent.id.toString()}">
										<media-icon type="extraContent.media.type"></media-icon>
										<span ng-class="{'label-info': $state.params.extraContentId == extraContent.id.toString()}" ng-if="!extraContent.disabled">
											<a class="title" link-to="school.dashboard.course.extraContent.media({ extraContentId: extraContent.id })">{{ extraContent.title }}</a>
										</span>
										<span ng-if="extraContent.disabled" class="title">{{ extraContent.title }}</span>
										<span ng-if="extraContent.disabled" class="pull-right">
											<span ng-if="extraContent.release_at">Liberado em {{ extraContent.release_at | toDateTime:'DD/MM/YYYY' }}</span>
										</span>
									</div>
								</div>
							</li>
						</ul>

						<div class="extra-content-pag" ed-pagination="extraContents.pagingInfo" refresh="getExtraContents(page)">
							<ul class="pagination">
								<li ed-pagination-previous>
									<a href=""><i class="fa fa-caret-left"></i></a>
								</li>
								<li ed-pagination-page="page" ng-repeat="page in paginationCtrl.pages">
									<a href="">{{ page }}</a>
								</li>
								<li ed-pagination-next>
									<a href=""><i class="fa fa-caret-right"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="article-content-right">
					<h2 class="welcome-msg">Bem vindo! <span>:)</span></h2>
					<p>Dê início ao curso dando play na Aula 1.</p>
					<spinner name="course"></spinner>
				</div>
			</div>
		</div>
	</div>
</article>