<article class="dashboard">
	<header class="article-header article-header-color-01">
		<div class="center center-width-5">
			<div class="article-header-content">
				<h2 class="article-header-title">{{ course.name }}</h2>
			</div>
            <div class="article-header-image">
                <img src="assets/images/gestao-recursos-humanos.png" height="137" width="176" alt="" class="vertical-center">
            </div>
		</div>
	</header>
	<div class="article-content center center-width-5">
		<div class="dashboard-panel">
			<div class="share">
				<span class="share-text">Compartilhe em suas redes</span>

				<div class="social-media">
					<span class="social-media-counter">000</span>
					<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ $location.absUrl() }}"
							class="social-media-link facebook" title="Facebook">
						<svg width="17" height="17" class="social-media-link-image">
							<use xmlns:xlink="http://www.w3.org/1999/xlink"
									xlink:href="https://cdn.edools.com/sebrae-sc/imgs/symbol-defs.svg#icon-facebook"></use>
						</svg>
					</a>
				</div>
				<div class="social-media">
					<span class="social-media-counter">000</span>
					<a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ $location.absUrl() }}"
							class="social-media-link linkedin" title="Linkedin">
						<svg width="17" height="17" class="social-media-link-image">
							<use xmlns:xlink="http://www.w3.org/1999/xlink"
									xlink:href="https://cdn.edools.com/sebrae-sc/imgs/symbol-defs.svg#icon-linkedin"></use>
						</svg>
					</a>
				</div>

				<div class="social-media">
					<!-- <span class="social-media-counter">000</span> -->
					<a target="_blank" href="https://twitter.com/home?status={{ $location.absUrl() }}"
							class="social-media-link twitter" title="Twitter">
						<svg width="17" height="17" class="social-media-link-image">
							<use xmlns:xlink="http://www.w3.org/1999/xlink"
									xlink:href="https://cdn.edools.com/sebrae-sc/imgs/symbol-defs.svg#icon-twitter"></use>
						</svg>
					</a>
				</div>
			</div>
			<div class="clearfix">
				<nav class="back" ng-if="$session.get() != undefined">
					<a link-to="school.dashboard.enrollments" class="back-link">&lt; Visualizar cursos</a>
				</nav>
			</div>

			<div class="clearfix">
				<div class="article-content-text">
					<div class="article-content-aside inverse">
						<div class="extra-content" ng-if="extraContents.length > 0">
							<h3 class="panel-title">Material extra</h3>
							<spinner name="extraContents" class="small"></spinner>
							<ul class="modules">
								<li class="module-item root" ng-repeat="extraContent in extraContents">
									<div class="class">
										<div class="class-info" ng-class="{'active': $state.params.extraContentId == extraContent.id.toString()}">
											<!--<media-icon type="extraContent.media.type"></media-icon>-->
											<span ng-class="{'label-info': $state.params.extraContentId == extraContent.id.toString()}" ng-if="!extraContent.disabled">
												<a class="title" link-to="school.dashboard.course.extraContent.media({ extraContentId: extraContent.id })">{{ extraContent.title }}</a>
											</span>
											<span ng-if="extraContent.disabled" class="title">{{ extraContent.title }}</span>
											<span ng-if="extraContent.disabled" class="pull-right">
												<span ng-if="extraContent.release_at">Liberado em {{ extraContent.release_at | toDateTime:'DD/MM/YYYY' }}</span>
											</span>
										</div>
									</div>
								</li>
							</ul>

							<div class="extra-content-pag" ed-pagination="extraContents.pagingInfo" refresh="getExtraContents(page)">
								<ul class="pagination">
									<li ed-pagination-previous>
										<a href=""><i class="fa fa-caret-left"></i></a>
									</li>
									<li ed-pagination-page="page" ng-repeat="page in paginationCtrl.pages">
										<a href="">{{ page }}</a>
									</li>
									<li ed-pagination-next>
										<a href=""><i class="fa fa-caret-right"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="article-content-wrapper inverse">
					<spinner name="course"></spinner>
					<div hide-on-load="course" class="course-container">

						<div class="course-content-player">
							<div ui-view></div>
							<spinner name="extraContent" class="small"></spinner>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</article>