@keyframes DrawLine {
  to { stroke-dashOffset: 0; }
}

@keyframes FadeStroke {
  to { stroke-opacity: 0; }
}

@keyframes FillIn {
  to { fill-opacity: 1; }
}

@keyframes FillOut {
  to { fill-opacity: 0; }
}

@keyframes Launch {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  20% {
    opacity: 1;
  }
  to {
    transform: translateY(-220px);
    opacity: 0;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124px;
  }
}
