input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #2c3e50 inset;
  -webkit-text-fill-color: #fff;
}

.form-response {
  display: none;
  float: left;
  color: #fff;
  font-size: 1.6em;
}

.sent-ok .form-response {
  display: block;
}

.sent-ok .form-item,
.sent-ok .form-submit-wrapper {
  display: none;
}

.form-item {
  position: relative;
  margin-top: 15px;
  transition: padding 200ms;
}

.form-item:first-child {
  margin-top: 0;
}

.form-group-item .form-item {
  float: left;
  margin-top: 0;
}

.form-group-item {
  margin-top: 15px;
}

.form-group-item:first-child {
  margin-top: 0;
}

.form-tip {
  display: block;
  font-size: 1.2em;
  margin: 5px 0;
}

.view-password {
  margin-top: 10px;
  position: relative;
}

.form-label {
  line-height: 1em;
  font-size: 1.6em;
  color: #fff;
}

.form-label-placeholder {
  cursor: text;
  pointer-events: none;
}

.form-text:focus ~ .form-label-placeholder,
.form-item-has-value .form-label-placeholder {
  display: none;
}

.form-text,
.form-select,
.form-textarea {
  display: block;
  width: 100%;
  font-family: 'Lato';
  font-size: 1.6em;
  background: transparent;
  border-radius: 0;
  border: 0;
  padding: 5px 0;
  color: #fff;
  appearance: none;
}

.form-text,
.form-select,
.form-textarea {
  padding-bottom: 7px;
  border-bottom: 2px solid #fff;
  transition: border-color 200ms;
}

.form-text[disabled],
.form-select[disabled],
.form-textarea[disabled],
.theme-light .form-text[disabled],
.theme-light .form-select[disabled],
.theme-light .form-textarea[disabled] {
  border-bottom-color: #b1bfce;
  color: #9ca8b5;
}

.form-text:focus,
.form-select:focus,
.form-textarea:focus,
.theme-light .form-text:focus,
.theme-light .form-select:focus,
.theme-light .form-textarea:focus {
  border-color: #14adcc;
}

.form-textarea {
  resize: none;
  height: 100px;
  overflow: auto;
}

/* ==== INPUT THEME LIGHT ==== */
.theme-light .form-text,
.theme-light .form-select,
.theme-light .form-textarea {
  font-size: 1.3em;
  color: #2c3e50;
  background: #fff;
  border-color: #2e66b7;
  padding-top: 7px;
  box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.15);
}
/* ==== END THEME LIGHT ==== */

/* ==== INPUT W/ ICON ==== */
.form-text.icon-space {
  padding-left: 15px;
}
/* ==== END INPUT W/ ICON ==== */


.form-textarea::-webkit-scrollbar{
  width: 12px;
  background: transparent;
}

.form-textarea::-webkit-scrollbar-thumb{
  background-color: #14adcc;
}

.form-textarea::-webkit-scrollbar-thumb:hover {
  background-color: #148dcc;
}

.form-item-float-label,
.form-item-float-label-fixed {
  padding-top: 15px;
}

.form-item-float-label .form-label,
.form-item-float-label-fixed .form-label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
  transition: all cubic-bezier(.25,.8,.25,1) .25s;
}

.form-item-float-label .form-text:focus ~ .form-label,
.form-item-float-label.form-item-has-value .form-text ~ .form-label,
.form-item-float-label .form-textarea:focus ~ .form-label,
.form-item-float-label.form-item-has-value .form-textarea ~ .form-label,
.form-item-float-label .chosen-container-active ~ .form-label,
.form-item-float-label.form-item-has-value .chosen-container ~ .form-label,
.form-item-float-label.form-item-has-value .form-select ~ .form-label,
.form-item-float-label-fixed .form-label {
  font-size: 1.2em;
  color: #14adcc;
  top: 0;
}

.form-label-checkbox,
.form-label-radio {
  display: inline-block;
  font-size: 1.2em;
  line-height: 1.4em;
  color: #fff;
  padding-left: 25px;
  cursor: pointer;
  position: relative;
}

.form-checkbox:focus ~ .form-label-checkbox,
.form-radio:focus ~ .form-label-radio {
  color: #14adcc;
}

.form-label-checkbox:before,
.form-label-radio:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
}

.form-checkbox:focus ~ .form-label-checkbox:before,
.form-radio:focus ~ .form-label-radio:before {
  border-color: #14adcc;
}

.form-label-checkbox:after,
.form-label-radio:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  background: #14adcc;
  transform: scale(0);
  transition: transform 0.3s ease-out;
}

.form-label-radio:before,
.form-label-radio:after {
  border-radius: 50%;
}

.form-checkbox,
.form-radio {
  position: absolute;
  left: -9999px;
}

.form-checkbox:checked ~ .form-label-checkbox:after,
.form-radio:checked ~ .form-label-radio:after {
  transform: scale(1);
}

.form-radio-item,
.form-checkbox-item {
  position: relative;
  display: inline-block;
}

.form-radio-item + .form-radio-item,
.form-checkbox-item + .form-checkbox-item {
  margin-left: 20px;
}

.form-radio-group-vertical .form-radio-item,
.form-checkbox-group-vertical .form-checkbox-item {
  display: block;
}

.form-radio-group-vertical .form-radio-item + .form-radio-item,
.form-radio-group-vertical .form-checkbox-item + .form-checkbox-item {
  margin-top: 20px;
  margin-left: 0;
}

.form-radio-item .form-label-radio,
.form-checkbox-item .form-label-checkbox {
  font-size: 1.6em;
  line-height: 1em;
}

.form-radio-group-label {
  display: block;
  font-size: 1.2em;
  color: #14adcc;
  margin-bottom: 6px;
}

.form-submit-wrapper {
  margin-top: 35px;
}

.form-submit-wrapper .status {
  font-size: 1.4em;
  color: #76cff1;
  display: block;
  text-align: center;
  margin-bottom: 5px;
}

.form-submit {
  border: 0;
  appearance: none;
}

/* ==== SELECT ==== */

.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  left: -9999px;
}

.chosen-container-single {
  position: relative;
  user-select: none;
}

.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  width: 100%;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.15);
}

.chosen-container.chosen-with-drop .chosen-drop {
  left: 0;
}

.chosen-single {
  display: block;
  font-family: 'Lato';
  font-size: 1.6em;
  padding: 5px 0;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  text-decoration: none;
  height: 33px;
  padding-bottom: 7px;
  border-bottom: 2px solid #fff;
}

.chosen-single span {
  position: relative;
  display: block;
  overflow: hidden;
  height: 19px;
  padding-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chosen-single span:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 9px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  border-color: #ffffff transparent transparent transparent;
}

.chosen-with-drop .chosen-single span:after {
  border-top-color: #14adcc;
}

.chosen-single div {
  display: none;
}

.chosen-container .chosen-results {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 108px;
  -webkit-overflow-scrolling: touch;
  background: transparent;
}

.chosen-container .chosen-results::-webkit-scrollbar{
  width: 10px;
  background: transparent;
}

.chosen-container .chosen-results::-webkit-scrollbar-thumb{
  background-color: #14adcc;
}

.chosen-container .chosen-results::-webkit-scrollbar-thumb:hover {
  background-color: #148dcc;
}

.chosen-container .chosen-results li {
  display: none;
  list-style: none;
  word-wrap: break-word;
  -webkit-touch-callout: none;
  font-size: 1.3em;
  font-weight: 100;
  color: #2c3e50;
  padding: 10px;
  border-right: 3px solid #fff;
}

.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
}

.chosen-container .chosen-results li.result-selected {
  background-color: #fff;
  color: #14adcc;
  font-weight: bold;
}

.chosen-container .chosen-results li.highlighted {
  background-color: #14adcc;
  color: #fff;
}

.chosen-container-active .chosen-single {
  border-color: #14adcc;
}

/* ==== SELECT THEME LIGHT ==== */
.theme-light .chosen-single {
  background: #fff;
  border-color: #2e66b7;
  color: #2c3e50;
  font-size: 1.3em;
  padding-left: 10px;
  padding-top: 7px;
  box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.15);
}

.theme-light .chosen-single span:after {
  border-top-color: #2e66b7;
}

.theme-light .chosen-with-drop .chosen-single {
  border-color: #76cff1;
}

.theme-light .chosen-with-drop .chosen-single span:after {
  border-top-color: #76cff1;
}

/* ==== SELECT DISABLED ==== */
.chosen-disabled .chosen-single {
  border-color: #b1bfce;
  color: #9ca8b5;
}

.chosen-disabled .chosen-single span:after {
  border-top-color: #b1bfce;
}

/* ==== SLIDER ==== */
/*! nouislider - 8.1.0 - 2015-10-25 16:05:44 */

.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
}

.noUi-target {
  position: relative;
  direction: ltr;
}

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.noUi-handle {
  position: relative;
  z-index: 1;
}

.noUi-stacking .noUi-handle {
  z-index: 10;
}

.noUi-state-tap .noUi-origin {
  transition: left .3s, top .3s;
}

.noUi-state-drag * {
  cursor: inherit!important;
}

.noUi-base {
  transform: translate3d(0, 0, 0);
}

.noUi-horizontal {
  height: 4px;
}

.noUi-horizontal .noUi-handle {
  width: 10px;
  height: 10px;
  left: -5px;
  top: -3px;
}

.noUi-background {
  background: #b1bfce;
}

.noUi-connect {
  background: #2e66b7;
  transition: background 450ms;
}

.noUi-origin {
  border-radius: 2px;
}

.noUi-target {
  border-radius: 4px;
}

.noUi-draggable {
  cursor: w-resize;
}

.noUi-handle {
  border-radius: 50%;
  background: #14adcc;
  cursor: default;
}

[disabled] .noUi-connect,
[disabled].noUi-connect {
  background: #B8B8B8;
}

[disabled] .noUi-handle,
[disabled].noUi-origin {
  background: #9ca8b5;
  cursor: not-allowed;
}

.noUi-pips {
  position: absolute;
  color: #999;
}

.noUi-value {
  width: 40px;
  position: absolute;
  text-align: center;
}

.noUi-value-sub {
  color: #ccc;
  font-size: 10px
}

.noUi-marker {
  position: absolute;
  background: #CCC
}

.noUi-marker-large,
.noUi-marker-sub {
  background: #AAA
}

.noUi-pips-horizontal {
  padding: 10px 0;
  height: 50px;
  top: 100%;
  left: 0;
  width: 100%
}

.noUi-value-horizontal {
  margin-left: -20px;
  padding-top: 20px
}

.noUi-value-horizontal.noUi-value-sub {
  padding-top: 15px
}

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px
}

.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px
}

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px
}

.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%
}

.noUi-value-vertical {
  width: 15px;
  margin-left: 20px;
  margin-top: -5px
}

.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px
}

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px
}

.noUi-marker-vertical.noUi-marker-large {
  width: 15px
}

.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #fff;
  padding: 5px;
  left: -9px;
  text-align: center;
  width: 50px
}

.noUi-handle-lower .noUi-tooltip {
  top: -32px
}

.noUi-handle-upper .noUi-tooltip {
  bottom: -32px
}

/* ==== FORM VALIDATION ==== */
.form-item-valid {
  padding-right: 20px;
}

.form-success-icon {
  position: absolute;
  top: 25px;
  right: 0;
}

.form-success-icon .icon {
  fill: #00cc92;
}

.form-error-msg {
  visibility: hidden;
  position: absolute;
  top: 14px;
  right: -15px;
  z-index: 99;
  transform: translateX(120%);
  background: #bf303c;
  color: #fff;
  font-size: 1.4em;
  line-height: 1em;
  padding: 8px 15px;
  white-space: nowrap;
  box-shadow: 0px 2px 2px 0px rgba(12, 12, 13, 0.2);
  opacity: 0;
  transition: transform 300ms, opacity 300ms;
}

.form-error-msg:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -6px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 6px 6px 0;
  border-color: transparent #bf303c transparent transparent;
}

.error-top .form-error-msg {
  top: 10px;
  right: auto;
  left: 50%;
  transform: translateX(-50%) translateY(-120%);
  max-width: none;
}

.error-top .form-error-msg:before {
  top: auto;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%) translateY(0);
  border-width: 6px 6px 0 6px;
  border-color: #bf303c transparent transparent transparent;
}

.form-item-error .form-text,
.form-item-error .form-textarea,
.form-item-error .form-checkbox-group .form-label-checkbox:before,
.form-item-error .form-radio-group .form-label-radio:before,
.form-item-error .chosen-single {
  border-color: #bf303c;
}

.form-item-error .form-text:focus ~ .form-error-msg,
.form-item-error .form-textarea:focus ~ .form-error-msg,
.form-item-error .form-radio-group ~ .form-error-msg,
.form-item-error .form-checkbox-group ~ .form-error-msg,
.form-item-error .chosen-container-active ~ .form-error-msg,
.form-item-error-fixed .form-error-msg {
  visibility: visible;
  opacity: 1;
  transform: translateX(100%);
}

.error-top.form-item-error .form-text:focus ~ .form-error-msg,
.error-top.form-item-error .form-textarea:focus ~ .form-error-msg,
.error-top.form-item-error .chosen-container-active ~ .form-error-msg {
  transform: translateX(-50%) translateY(-100%);
}

/* ==== FORM LOADING ==== */
.form-item-loading {
  padding-right: 40px;
}

.form-item-loading .form-success-icon {
  display: none !important;
}

.form-item-loading .icon-loading {
  position: absolute;
  top: 20px;
  right: 0;
}

.icon-loading {
  animation: rotate 2s linear infinite;
  transform-origin: center center;
}

.icon-loading .path {
  stroke: #00cc92;
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
}

/* ==== FORM TOOLTIP ==== */
.form-tooltip {
  visibility: hidden;
  position: absolute;
  top: 50%;
  right: 0;
  opacity: 0;
  transform: translateY(-50%) translateX(120%);
  background: #14adcc;
  color: #fff;
  font-size: 1.4em;
  padding: 10px 15px;
  box-shadow: 0px 2px 2px 0px rgba(12, 12, 13, 0.2);
  min-width: 235px;
  transition: transform 300ms, opacity 300ms;
}

.form-tooltip:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -6px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 6px 6px 0;
  border-color: transparent #14adcc transparent transparent;
}

.form-checkbox:checked ~ .form-tooltip,
.form-radio:checked ~ .form-tooltip {
  visibility: visible;
  opacity: 1;
  transform: translateY(-50%) translateX(100%);
}
